/*
 * Globals
 */
.hide {display:none}
.cover .left {
	text-align: left;
}
.appicons {
	margin: 20px 0;
}
.appicons a {
	margin: 0px 10px;
	display: inline-block;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #208896;
  border: 1px solid #208896;
}

dd {
	margin-bottom: 30px;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ebebeb;
  color: #fff;
  text-align: center;
}


/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead {
	padding-bottom: 20px;
	color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.75);
 }
 .masthead .inner {
 	margin: 0 auto;
 	padding: 15px 0;
	position: relative;
 }
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 36px;
}
.masthead .inner .logo
{
	background: url(/img/logo.png) no-repeat 0px 0px;
	width: 400px;
	height: 60px;
	position: absolute;
	top: 8px;
	left: -10px;
}
.masthead-nav
{
	margin-top: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.55);
  text-shadow: none;
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(0,0,0,.25);
  border-bottom-color: rgba(0,0,0,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


.page-container {
	color: #222;
	text-shadow: none;
	background-color: #fff;
}
.page-container a {
	color: rgb(18, 141, 139);
}
.cover-heading {
	margin-bottom: 20px;
}
.button-container {
	margin-top: 30px;
}
.button-container .btn {
	margin: 0 2px;
	color: #fff;
}
.page-container .inner.phone,
.page-container .inner.dynamic-phone {
	padding-right: 300px;
	min-height: 575px;
}
.page-container .inner.phone {
	background: url(/img/mock_deal_vancouver.png) no-repeat 565px 45px;
}
.colorado .page-container .inner.phone {
	background: url(/img/mock_deal_boulder.png) no-repeat 565px 45px;
}
.colorado.fundraiser .page-container .inner.phone {
	background: url(/img/mock_activity_boulder.png) no-repeat 565px 45px;
}
.page-container .inner.dynamic-phone {
	background: url(/img/mock_merchants.png) no-repeat 565px 45px;
	position: relative;
}

.dynamic-phone .phone-container
{
	position: absolute;
	right: 18px;
	top: 193px;
	width: 191px;
}
.dynamic-phone .phone-container .merchant-list .list-item 
{
	display: block;
	padding: 5px;
	border-bottom: 1px solid #efefef;
	overflow: hidden;
}
.dynamic-phone .phone-container .merchant-list .list-item .title
{
	line-height: 35px;
	white-space: nowrap;
	overflow: hidden;
}
.merchant-list {
	overflow: auto;
	height: 242px;
	font-size: 12px;
}
.page-container .inner {
	padding: 40px 0;
	margin: 0 auto;
	text-align: left;
}
.page-container .inner.center {
	text-align: center;
}

.page-container .inner.center .cover-heading {
	text-align: center;
}

.page-container .lead
{
	font-size: 20px;
}

.list-container
{
	border: 1px solid #ddd;
	max-height: 200px;
	overflow: auto;
}

.list-container.fundraiser
{
	max-height: 270px;
}

.list-container .list-item
{
	display: block;
	color: rgb(18, 141, 139);
	padding: 10px 15px;
	border-bottom: 1px solid #eee;
}

.list-container .list-item:hover
{
	background-color: rgba(18, 141, 139, .02);
}

/*
 * Footer
 */

.mastfoot {
	padding: 0 0 30px;
	background: #ebebeb;
  color: #999; /* IE8 proofing */
  color: rgba(100,100,100,.5);
  text-shadow: none;
}
.mastfoot a {
	color: rgb(18, 141, 139);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead .inner,
  .page-container .inner {
    width: 800px;
  }
}
